html{
    scroll-behavior: smooth;
}

.box{
    color: #990011FF;
    background-color: #FCF6F5FF;
    margin: 0px;
    font-family: 'Open Sans' ;
}

.topbar{
    background-color: #FCF6F5FF;
    border:1px solid #990011FF;
    border-left: none;
    border-right: none;
}

.text-color{
    color: #990011FF;
}

.info > *{
    margin:20px
}

.profile-box{
    margin:80px auto;
}

.contact-icons{
    width: 50px;
    margin:10px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.contact-icons:hover{
    transform: scale(1.1);
}

.tech-stack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tech-stack img{
    width: 70px;
}

.proficiency-back{
    background-color: #FCF6F5FF;
    padding: 20px;
}

.proficiency-details{
    width: 350px;
    border:1px solid #990011FF;
    transition: transform 0.5s ease;
    
}

.proficiency-details:hover{
    transform: scale(1.02);
}

.statistics{
    width: 170px;
    height: 170px;
    padding: 50px 30px;
    font-size: 40px;
    border: 7px solid #990011FF;
    border-radius: 50%;
}

.card-border{
    border: 10px solid #990011FF;
}

.icons{
    margin-right: 15px;
    width: 30px;
}

.projects{
    background-color: #FCF6F5FF;
}

.project-cards > div{
    margin:20px;
}

.tech-used{
    width: 30px;
}

.profi-icon{
    width:70px
}

.profile-image{
    width: 300px;
}


@media only screen and (max-width: 768px){
    .profile-box{
        margin:80px auto;
    }

    .profile-image{
        width: 230px;
    }
}